<ul>
<li>Home </li>
<li>Data</li>
</ul>


  

<div class="control-section">
  <ejs-grid [dataSource]='data'  allowPaging='true' [allowSorting]="true"  [allowFiltering]="true" [filterSettings]='filterSettings'  [pageSettings]='pageSettings' [editSettings]='editSettings'>
    <e-columns>
        <e-column field='OrderID' [filter]='filter' headerText='Order ID' width='90'  isPrimaryKey='true' [validationRules]='orderidrules'></e-column>
        <e-column field='CustomerID' headerText='Customer ID' width='90'  [validationRules]='customeridrules'></e-column>
        <e-column field='Freight' headerText='Freight' width='90' format='C2'  editType='numericedit' [validationRules]='freightrules'></e-column>
        <e-column field='OrderDate' headerText='Order Date' width='100' type='date' format='yMd' editType='datepickeredit' ></e-column>
        <e-column field='ShipCountry' headerText='Ship Country' width='90'  editType='dropdownedit' [edit]='editparams'></e-column>
        <e-column headerText='Manage Records' width='160'  [commands]='commands'></e-column>
    </e-columns>
</ejs-grid>
</div>


<router-outlet></router-outlet>
